body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  margin: 100px auto;
  width: 5%;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  padding: 50px;
  background-color: #66BFBF
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.profile-pic {
  border-radius: 100%;
  height: 10%;
  width: 10%;
}

.coding-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.contact-me {
  line-height: 2;
  margin: 40px auto 60px;
  width: 40%;
}

.cooking-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 50px 20px 50px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.8rem;
  margin: 50px auto;
}

.intro {
  margin: auto;
  width: 30%
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.BUTTON_OOO {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #318585);
   background-image: -moz-linear-gradient(top, #66BFBF, #318585);
   background-image: -ms-linear-gradient(top, #66BFBF, #318585);
   background-image: -o-linear-gradient(top, #66BFBF, #318585);
   background-image: -webkit-gradient(to bottom, #66BFBF, #318585);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   margin-top: 50px;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_OOO:hover {
   border: solid #275858 0;
   background: #4E9999;
   background-image: -webkit-linear-gradient(top, #4E9999, #275858);
   background-image: -moz-linear-gradient(top, #4E9999, #275858);
   background-image: -ms-linear-gradient(top, #4E9999, #275858);
   background-image: -o-linear-gradient(top, #4E9999, #275858);
   background-image: -webkit-gradient(to bottom, #4E9999, #275858);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}
